._analyze-info-container {
    all: unset;
    height: auto;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

._upper-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

._lower-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

._post-preview {
    all: unset;
    height: 20px;
    width: 120px;
    margin: 0.5rem;
    padding: 0.3rem 0;
    flex-basis: 110px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background: #6E7783;
    border-radius: 5px;
}

._additionalInfo-preview {
    all: unset;
    height: 20px;
    width: 120px;
    margin: 0.5rem;
    padding: 0.3rem 0;
    flex-basis: 110px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background: #6E7783;
    border-radius: 5px;
}

._lorem-percentage-container {
    all: unset;
    height: 40px;
    width: auto;
    margin: 0.5rem;
    padding: 0 1rem;
    color: #FFFFFF;
    font-weight: bold;
    background: #878787;
    border-radius: 5px;
}

._multimedia-image-ratio-container {
    height: 40px;
    width: auto;
    margin: 0.5rem;
    padding: 0 1rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    background: #ffa500;
    border-radius: 5px;
}

._multimedia-imoticon-ratio-container {
    height: 40px;
    width: auto;
    margin: 0.5rem;
    padding: 0 1rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    background: #6b8e23;
    border-radius: 5px;
}

._multimedia-video-ratio-container {
    height: 40px;
    width: auto;
    margin: 0.5rem;
    padding: 0 1rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    background: #008c9e;
    border-radius: 5px;
}


/* ---------------------------------------------------------------------------------- */


/* ._analyze-info-container {
    height: auto;
}

._lorem-percentage-container {
    height: 26px;
    width: auto;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    background: #878787;
    border-radius: 9px;
    float: left;
    text-align:center;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

._multimedia-image-ratio-container {
    height: 26px;
    width: auto;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    background: #ffa500;
    border-radius: 9px;
    float: left;
    display: none;
    text-align:center;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

._multimedia-imoticon-ratio-container {
    height: 26px;
    width: auto;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    background: #6b8e23;
    border-radius: 9px;
    float: left;
    display: none;
    text-align:center;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

._multimedia-video-ratio-container {
    height: 26px;
    width: auto;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    background: #6b8fff;
    border-radius: 9px;
    float: left;
    display: none;
    text-align:center;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

._button {
    margin-bottom: 0.5rem;
    height: 26px;
    width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 9px;
    background: #a9a9a9;
    float: left;
    text-align:center;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
} */