* {
    box-sizing: content-box;
}

body {
    width: 350px;
}

.search_naver_popup {
    display: block;
    height: 450px;
}

.ui-container {
    margin: 0.5rem;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkolivegreen;
}

.ui-container label {
    font-size: 1rem;
}

.ui-container fieldset {
    all: unset;
    margin-bottom: 0.5rem;
    border: 0;
}

.ui-container legend {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.ui-container input[type=checkbox] {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

.ui-container fieldset input[type=checkbox] {
    margin-bottom: 0;
}

.ui-container input[type=range] {
    width: 200px;
    height: 12px;
    border-radius: 5px 5px 5px 5px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 100%);
    background-size: 200px 12px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

.ui-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4682B4;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.ui-filter-setting .slider-value {
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 0.5rem;
}

/* blog_naver_popup 내부 CSS */
.blog_naver_popup {
    display: block;
    height: 510px;
    overflow: hidden;
}

.view-info .analyze-info {
    display: inline-block;
    margin-left: 0.5rem;
    text-align: center;
}

.view-info #lorem {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 1rem;
    color: whitesmoke;
    background: #ff6347;
    border-radius: 10px;
}

.view-info #tag {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 1rem;
    color: whitesmoke;
    background: #ffa500;
    border-radius: 10px;
}

.view-info #image {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 1rem;
    color: whitesmoke;
    background: #6b8e23;
    border-radius: 10px;
}

.feedback-button button {
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    height: 40px;
    width: 250px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    background: #a9a9a9;
}

.feedback {
    height: 220px;
}

.feedback #selected-feedback {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #a9a9a9;
}

.feedback textarea {
    margin-bottom: 0.5rem;
    width: 300px;
    height: 100px;
    resize: none;
}

.feedback input[type=submit] {
    height: 30px;
    width: 100px;
    font-size: 0.8rem;
    color: white;
    border: none;
    border-radius: 5px;
    background: #483d8b;
}