body {
    width: 300px;
    height: auto;
}
hr {
    display: block;
    margin: 1rem 0;
}

.ui-container {
    padding: 0 0 0 0.3rem;
}

.ui-container > p {
    color: green;
    font-size: 16px;
    font-weight: bold;
    line-height: 50%;
}

.ui-container > label {
    font-size: 14px;
    margin: 0 0.2rem;
}

.ui-container > span {
    font-size: 14px;
    color: grey;
}

.ui-view-setting > input[type=checkbox] {
    margin: 0.4rem 0;
}

.ui-filter-setting > input[type=checkbox] {
    margin: 0 0 0.2rem 0;
}

.ui-filter-setting > input[type=range] {
    margin: 0.3rem 0.5rem 0.6rem 1.3rem;
    width: 180px;
}

/* 게시글 내부 팝업 CSS */

.view-info > span {
    display: inline-flex;
    align-content: space-between;
    width: auto;
    height: auto;
    padding: 0.2rem 0.5rem;
    margin: 0 0.3rem;
    border-radius: 50px;
}

.view-info > #lorem {
    color: white;
    background-color: orange;
}
.view-info > #tag {
    color: white;
    background-color: orangered;
}
.view-info > #image {
    color: white;
    background-color: mediumseagreen;
}

.feedback input[type=button] {
    display: block;
    padding: 3px 5px;
    margin: 2px auto;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.post-view-setting > input[type=checkbox] {
    margin: 0.4rem 0;
}

.preview_post_wrapper {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}